# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyCharm files
.idea/
*.iml

# VS Code files
.vscode/

# Mac OS files
.DS_Store

# Logs
*.log

# Flask instance folder
instance/
.iml
.xml
.venv
.idea
